<h1>Administration Area</h1>

<p style="color:red;">Warning! Do not make changes here unless you know what you are doing.</p>

<div>
    <%= link_to 'Manage New Hope Users', users_path %>
</div>
<div>
    <%= link_to "Add New User", new_user_path %>
</div>