/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

h1,h2{
	padding:10px 0 10px 0;
}

.accordion h3,
.accordion h4{
	color:#C0C0C0;
}

.brand img{
    float:left;
    margin-right:10px;
	height:32px;
}

.brand .new-hope-text{
	color:#8daf3f;
	font-size:20px;
	letter-spacing:4px;
}

.brand span{
	display:inline-block;
}

.centered-text{
	text-align:center;
}

.right-text{
	text-align:right;
}

.child-list-nav{
	background-color:#EEE;
	
	background-image: linear-gradient(bottom, #f5f5f5 0%, #eeeeee 100%);
	background-image: -o-linear-gradient(bottom, #f5f5f5 0%, #eeeeee 100%);
	background-image: -moz-linear-gradient(bottom, #f5f5f5 0%, #eeeeee 100%);
	background-image: -webkit-linear-gradient(bottom, #f5f5f5 0%, #eeeeee 100%);
	background-image: -ms-linear-gradient(bottom, #f5f5f5 0%, #eeeeee 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.00, #f5f5f5),
		color-stop(1.00, #eeeeee)
	);
	
	width: 100%;
	height: 36px;
	background-repeat: repeat-x;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	padding:5px;
}

.child-list-nav .btn{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.child-list-nav .nav > li:first-child {
	border-left: 0;
}

.child-list-nav  .nav > li {
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #E5E5E5;
}

.child-list-nav .nav > li:last-child {
	border-right: 0;
}

.child-list-nav .nav > li > a {
	margin: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	color: #555;
	text-decoration: none;
}

.child-list-nav form{
	margin:0 10px;
}

.child-list-nav .nav > li > a:hover{
  background-color: #999;
  color: #ffffff;
}

.child-list-nav .nav-pills .dropdown-toggle .caret,
.child-list-nav .nav .caret{
	border-top-color: #555;
}

.child-list-nav .nav a:hover .caret,
.child-list-nav .nav .open .caret, 
.child-list-nav .nav .open.active .caret, 
.child-list-nav .nav .open a:hover .caret {
	border-top-color: white;
	opacity: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	filter: alpha(opacity=100);
}

.child-list-results{
	border-bottom:1px solid #E5E5E5;
}

form .thumbnail{
	min-height:0;
}

form ul.thumbnails{
	margin-bottom:0;
}

form .thumbnails > li{
	margin-bottom:0;
	margin-left: 20px;
}

#content{
	min-height:400px;
}

#footer{
	margin-top: 45px;
	padding: 15px 0 35px;
	border-top: 1px solid #E5E5E5;
	color: #555;
}

#footer a, 
#footer a:link, 
#footer a:visited, 
#footer a:active{
	font-weight: 300;
	color: #555;
}